.footer {
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #bea5b5;
    padding: 15px 0;
}

.footer p {
    color: white;
    text-align: center;
    width: 100%;
    margin: 20px auto;
}