@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Readex+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Nanum+Pen+Script&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Cabin", sans-serif; */
    /* font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 500;
    font-style: normal; */
    /* font-family: "Titillium Web", serif; */
    /* font-weight: 400;
    font-style: normal; */
    /* font-family: "Readex Pro", sans-serif; */
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
}

body {
    background: #f5f5f5;
}

a {
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

/* Headings - by HDC */
.h2, h2 {
  font-size: 45px;
  text-transform: uppercase;
}
.h3, h3 {
  font-size: 33px;
  text-transform: capitalize;
}
.h4, h4{
  font-size: 27px;
  text-transform: capitalize;
}
.h5, h5{
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 2px;
}
.h6 h6 {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
}

.btn {
    background: #FFF;
    color: #212121;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.promo-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .promo-box {
    background-color: #a27993;
    display: flex;
    flex-direction: row;
    width: 800px;
    max-width: 90%;
    /* border-radius: 10px; */
    overflow: hidden;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    position: relative;
  }
  
  .promo-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 400px;
    display: block;
  }
  
  .promo-content {
    padding: 30px 20px;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .promo-close {
    position: absolute;
    top: 12px;
    right: 16px;
    font-size: 20px;
    border: none;
    background: none;
    color: #aaa;
    cursor: pointer;
  }
  
  .promo-close:hover {
    color: #000;
  }
  
  .promo-content h4 {
    font-family: "Poppins", sans-serif !important;
    font-style: normal;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: white;
  }
  
  .promo-content p {
    font-family: "Poppins", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    margin-bottom: 10px;
    color: white;
  }
  
  .promo-btn {
    transition: background 0.2s;
    background: white;
    color: black;
    width: 90%;
    padding: 14px 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 0;
    outline: 0;
    font-family: "Poppins", sans-serif !important;
    font-style: normal;
  }
  
  /* .promo-btn:hover {
    background-color: #bea5b5;
    color: white;
  } */

  .no-thanks {
    color: white;
    text-decoration: underline;
    cursor: pointer;
  }

  .promo-close {
    color: white;
}

/* by HDC */
.padding-20 {
  padding-top: 20px;
}
.padding-30 {
  padding-top: 30px;
}
.padding-50 {
  padding-top: 50px;
}

/* text animation for Promotion - by HDC */
.title_offer {
  animation-name: scale-opacity;
  animation-duration: .5s;
  animation-timing-function: cubic-bezier(.67,.45,.68,1.64);
}

.discount {
  color: #fff;
  text-shadow: 4px 4px 0 #ec90a1, 8px 8px 0 #d34169;
  animation: promotion-dance 2s infinite;
}

.offers_animated {
  animation: slide-in-text 1.5s;
  animation-delay: 300ms;
}

.services_bg_animated {
  animation: bg-colours 3s infinite;
}

@keyframes scale-opacity {
  from {
    opacity: 0;
    transform: scale(.9, .9);
    }
    to {
      opacity: 1;
      transform: scale(1, 1);
    }
}

@keyframes promotion-dance {
  0%, 100% {
      text-shadow: 4px 4px 0 #ec90a1, 8px 8px 0 #d34169;
  }
  50% {
      text-shadow: -4px -4px 0 #ec90a1, -8px -8px 0 #d34169;
  }
}

@keyframes slide-in-text {
  from {
    translate: 20vw 0;
    scale: 120% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

@keyframes bg-colours {
  0%, 100% {
    background-color: #ec90a1;
  }
  50% {
    background-color: #d34169;
  }
}

@media (max-width: 800px) {
    .container{
        padding-left: 2%;
        padding-right: 2%;
    }

    .promo-box {
        flex-direction: column;
        width: 80%;
        height: 500px;
      }
    
      .promo-image {
        display: none;
      }
    
      .promo-content {
        padding: 30px 20px;
      }
}